



<div class="header">
  Rechnungs-Editor
</div>




<div class="container"> 
  <div class="row  ">
      <div class="col-md-2 no-float ">
    
<app-sidebar [invoices_local]="invoicesList"  [currentSelectedInvoice]="currentSelectedInvoice" (newInvoice)="addNewInvoice($event)" (selctNewInvoice)="selectInvoice($event)" [calcArray]="calcArray" [sum]="sum" ></app-sidebar>


      </div>
      <div class="col-md-8 no-float ">
         <div class="editorContainer">
<app-editor [currentSelectedInvoice]="currentSelectedInvoice" [events]="eventsSubject.asObservable()" ></app-editor>
 
         </div>
      </div>
  
  </div>
</div>

