


<div>


<tr>
    <td><h3>Rechnungen</h3></td>
    <td><button class="btn btn-sm mt-2 btn-primary btnAdd" (click)="addNewInvoice()" >+</button></td>
</tr>

</div>

<div class="invoiceList ">

<div *ngFor="let e of invoices_local; index as i" class="list-group">
    

<div *ngIf="e.customer_name==currentSelectedInvoice.customer_name" class="list-group-item active" >     {{e.customer_name}}  </div>
<div *ngIf="e.customer_name!=currentSelectedInvoice.customer_name" class="list-group-item " (click)="selectCurrentInvoice(i)" >     {{e.customer_name}}  </div>
</div>

</div>
<div class="bottomBtn">
    <tr>
        <td><button class="align-self-end btn btn-lg  btn-primary" (click)="importJson()">Import</button>  </td> 
        <td><button class="align-self-end btn btn-lg  btn-primary" (click)="exportJson()">Export</button></td>
    </tr>

</div>